<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.root.find.mybatis.PwMapper">
	<resultMap type="com.care.root.find.dto.PwDTO" id="check">
		<id property="user_id" column="member_id"/>
		<result property="user_pw" column="member_pw"/>
		<result property="user_name" column="member_name"/>
	</resultMap>
	
	<select id="PwCheck" resultMap="check">
		select * from z_member where member_id=#{id}
	</select>
	
	<update id="pw_modify">
		update z_member set member_pw=#{user_pw} where member_id=#{user_id}
	</update>
</mapper>